---
variables:
  UV_VERSION: "0.9.9"
  PYTHON_VERSION: "3.12"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

pages:
  stage: deploy
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  script:
    - cd docs/
    - uv sync --locked --all-extras --dev
    - uv run zensical build --clean
    - uv cache prune --ci
    # GitLab expects the documentation in the public/ folder in the root
    - mkdir -p ../public
    - cp -rv public/* ../public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
