---
title: "Home"
---
# {{ name }}
{{ description }}

To view this documentation live, invoke:

```shell
cd docs/
```
```shell
uv run zensical serve
```

This will publish the documentation at [localhost:8000](http://localhost:8000/) by default, and watch for any changes to the documentation source files.

[Zensical Documentation](https://zensical.org/){ .md-button }

